
{% extends 'base.html' %}
{% block content %}
        <div class="d-md-none header_navbar_collapse">
        <ul class="header_navbar_collapse_nav" style="min-height: 54px">
          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/"><span class="icon-home"></span>
                <p>  </p></a>
            </div>
          </li>
          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/explore"> <span class="fa fa-search" aria-hidden="true"></span>
                <p>  </p></a>
            </div>
          </li>

          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/add"> <span class="fa fa-plus" aria-hidden="true"></span>
                <p>  </p></a>
            </div>
          </li>

          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/shop/orders">
                  <span class="icon-cart"></span>
                <p> </p></a>
            </div>
          </li>


          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/profile/notifications">

                <span class="fa fa-user"></span>

                <p> </p>
              </a>
            </div>
          </li>
        </ul>
      </div>


        <main class="client-template">
            <section class="main">
    <div class="container p-4">
        <br>
        <h3> Murojat uchun </h3>
        <br>
        <p><b>Call-center:</b> +998 55 500 55-11  </p>
        <p><b>Elektron pochta:</b> info@100k.uz </p>
        <p> <b>Telegram:</b> <a href="https://t.me/yuzka_support">@yuzka_support</a> </p>
    </div>
    
</section>        </main>

{% endblock content %}