
{% extends "base.html" %}
{% block content %}

        


        <main class="client-template">
            <section class="main">
    
    <div class="container">
        <div class="content_notification">
            
            
              <div class="content_single-product-nouser">
                  <div class="content_single-product-nouser_info">
                        <span class="icon-cart"></span>
                        <p> Sizda bildirishnomalar yo'q </p>
                  </div>
              </div>

            

        </div>
    </div>

</section>        </main>

{% endblock content %}
        