{% extends "base.html" %}
{% block content %}

        <main class="client-template">
            
<section class="main">
    
    <div class="container" style="padding-top: 10px;">
        <div class="content_cart">
                            
                <div class="content_single-product-nouser">
                  <div class="content_single-product-nouser_info">
                    <span class="icon-cart"></span>
                    <p> Sizda buyurtmalar yo'q </p>
                  </div>
                </div>
            
        </div>
    </div>
</section>        </main>

{% endblock content %}