{% extends 'base.html' %}
{% block content %}


        


        <main class="client-template">
            <section class="main">
    
    <div class="container border-bottom-4">
    <div class="content_name_block">
        <a href="/" class="content_name_block_back"><span class="icon-arrow"></span></a>
        <div class="content_name_block_text"><p>{{ user.lastname }} {{ user.firstname }}</p></div>
    </div>
</div>

    <div class="container">
        <div class="content_profile">

            <div class="content_profile_main">
              <div class="content_profile_name">
                <div class="content_profile_name_img">
                  {% if user.image %}
                  <img style="object-fit: cover; width: 100%; height: 100px" src="{{ user.image.url }}" />
                  {% else %}
                  <img style="object-fit: cover; width: 100%; height: 100px" src="https://www.gravatar.com/avatar/ae805b618bf3cf832918a9f0fa6c9502?s=150&d=mm" />
                  {% endif %}
                                    
                    
                </div>
                <div class="content_profile_name_text">
                  <h2> {{ user.firstname }} </h2>
                  <p>{{ user.username }}</p>
                  <a href="/sozlamalar/{{ user.id }}" class="btn btn-link"> Sozlamalarga o'tish </a>
                </div>
              </div>

              <div class="content_profile_settings">
                <a href="/shop/orders" class="content_profile_setting"
                  ><div class="content_profile_setting_icon"><span class="icon-all-order"></span></div>
                  <div class="content_profile_setting_border">
                    <div class="content_profile_setting_text"><p> Mening buyurtmalarim </p></div>
                    <div class="content_profile_setting_next"><span class="icon-arrow"></span></div></div></a>

                <a href="/provider" class="content_profile_setting"
                  ><div class="content_profile_setting_icon"><span class="icon-all-order"></span></div>
                  <div class="content_profile_setting_border">
                    <div class="content_profile_setting_text"><p> Mening mahsulotlarim </p></div>
                    <div class="content_profile_setting_next"><span class="icon-arrow"></span></div></div></a>

                <a href="/shop/favorite" class="content_profile_setting"
                  ><div class="content_profile_setting_icon"><span class="icon-pending-payment"></span></div>
                  <div class="content_profile_setting_border border-0">
                    <div class="content_profile_setting_text"><p> Mening sevimlarim </p></div>
                    <div class="content_profile_setting_next"><span class="icon-arrow"></span></div></div
                ></a>
              </div>
            </div>


            <div class="content_profile_gray"></div>

            <div class="content_profile_other">
              <div class="content_profile_settings">
                   <a href="/profile/buy-bonus" class="content_profile_setting d-none">
                        <div class="content_profile_setting_icon"><span class="icon-pending-payment"></span></div>
                        <div class="content_profile_setting_border">
                        <div class="content_profile_setting_text"><p> Bonus xarid qilish </p></div>
                        <div class="content_profile_setting_next"><span class="icon-arrow"></span></div></div>
                    </a>


                    <a href="/contacts" class="content_profile_setting">
                        <div class="content_profile_setting_icon"><span class="icon-support"></span></div>
                        <div class="content_profile_setting_border">
                        <div class="content_profile_setting_text"><p> Mijozlarni qo'llab-quvvatlash </p></div>
                        <div class="content_profile_setting_next"><span class="icon-arrow"></span></div></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>        </main>

        {% endblock content %}