{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="headerHeightSpacer"></div>

        <div class="d-md-none header_navbar_collapse">
        <ul class="header_navbar_collapse_nav" style="min-height: 54px">
          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/"><span class="icon-home"></span>
                <p>  </p></a>
            </div>
          </li>
          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/explore"> <span class="fa fa-search" aria-hidden="true"></span>
                <p>  </p></a>
            </div>
          </li>

          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/add"> <span class="fa fa-plus" aria-hidden="true"></span>
                <p>  </p></a>
            </div>
          </li>

          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/shop/orders">
                  <span class="icon-cart"></span>
                <p> </p></a>
            </div>
          </li>


          <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
              <a class="header_navbar_collapse_nav_item_link " href="/profile/notifications">

                <span class="fa fa-user"></span>

                <p> </p>
              </a>
            </div>
          </li>
        </ul>
      </div>


        <main class="client-template">
            <section class="main">
    
    <div class="content_auth" style="background-image: url( https://100k.uz/themes/stock/assets/img/back-blur.jpg)">

        <div class="content_auth_block">
            <div id="authContainer">
    <form method='post'
        class="content_auth_form" 
    >
        <a href="/" class="header_navbar_brand_logo">1000k.uz </a>
        <label class="content_auth_form_group">
            <span> Tizimga kirish </span>

            <div class="content_auth_form_group_input">{% csrf_token %}
                <input
                    name="phone_number"
                    type="phone"
                    class="form-control my-phone-mask"
                    id="authUsername"
                    placeholder="Telefon raqamningizni kiriting"
                />
                

               <button type="submit" class="btn">
                    <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>
                </button>
                
              
            </div>
            <p class="mt-2"> 
                <label> 
                    <input type="checkbox" required>
                    Men qoidalar bilan tanishdim 
                    <a class="terms text-danger" target="_blank" href="/pages/privacy-policy"> Foydalanish shartlari </a>
                </label> 
            </p>
           <!--  <p class="mt-2"> 
                <label> 
                    <input type="checkbox" required>
                    Men qoidalar bilan tanishdim 
                    <a class="terms text-danger" target="_blank" href="/pages/privacy-policy"> Foydalanish shartlari </a>
                </label> 
            </p> -->
        </label>
    </form>
</div>        </div>

        <div class="content_auth_footer">
            <a class="privacy" target="_blank" href="#"> Maxfiylik siyosati </a> |
            <a class="terms" target="_blank" href="/pages/privacy-policy"> Foydalanish shartlari </a> |
            <span class="copyright">Copyright © 2020 Barcha huquqlar himoyalangan</span>
        </div>
    </div>
</section>        </main>

{% endblock content %}