{% extends 'base.html' %}
{% block content %}

{% for i in users %}
{% if user.id == i.id %} 
         <div class="headerHeightSpacer"></div>

        


        <main class="client-template">
            <section class="main">
        
    <div class="container border-bottom-4">
    <div class="content_name_block">
        <a href="" class="content_name_block_back"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <div class="content_name_block_text"><p> Sozlamalar </p></div>
    </div>
</div>
    
    <div class="container">
        <form method="post" data-request="onUpdate" enctype="multipart/form-data" class="content_profile">{% csrf_token %}
            
            <div class="content_profile_main">
                

                <div class="content_profile_name">

                    {% if user.image %}
                    <div class="content_profile_name_img" 
                   style="background-image: url(  {{ user.image.url }})">


                  <!--  <img style="object-fit: cover; width: 100%; height: 100px" id='output'/> -->

                  <!--  <img src="https://www.gravatar.com/avatar/ae805b618bf3cf832918a9f0fa6c9502?s=150&d=mm">
 -->
                        <input class="input-upload" accept="image/*" required="" type="file" name="image" onchange="readURL(this)" />
                       
                    </div>
                    <!-- <img src="{{ user.image.url }}"> -->
                    {% else %}

                    <div class="content_profile_name_img" 
                   style="background-image: url(  https://www.gravatar.com/avatar/ae805b618bf3cf832918a9f0fa6c9502?s=150&d=mm)">


                  <!--  <img style="object-fit: cover; width: 100%; height: 100px" id='output'/> -->

                  <!--  <img src="https://www.gravatar.com/avatar/ae805b618bf3cf832918a9f0fa6c9502?s=150&d=mm">
 -->
                        <input class="input-upload" accept="image/*" required="" type="file" name="image" onchange="readURL(this)" />
                       
                    </div>
                {% endif %}
                    <div class="content_profile_name_text">
                        <p> Rasmingizni taxrirlang! </p>
                        <a href="javascript:" class="btn-new btn-input"> Fotosurat yuklash </a>
                    </div>
                </div>
            </div>
        
            <div class="content_profile_form">
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="text" name="username" readonly class="form-control" required="" placeholder=" Telefon raqamingizni kiriting " value="{{ i.username }}">
                </div>
                
                <div class="form-group">
                    <label>Ism</label>
                    <input type="text" required="" name="firstname" class="form-control" 
                    placeholder="{{ i.firstname|default:'Ismingizni kiriting'}}"  value="{{ i.firstname}}">
                </div>
                
                <div class="form-group">
                    <label> Familiya </label>
                    <input type="text" required="" name="lastname" class="form-control"  
                    placeholder="{{ i.lastname|default:'Familiyangizni kiriting'}}" value="{{ i.lastname }}">
                </div>
                
                <div id="partialCountryState">
                    
<div class="form-group">
  <label for="accountCountry"> Viloyat </label>
     <input type="text" required="" name="viloyat" class="form-control"  placeholder="{{ i.viloyat|default:'Viloyatni kiriting'}} " value="{{ i.viloyat }}">
  
</div>

<div class="form-group">
  <label for="accountState"> Tuman / Shahar </label>
     <input type="text" required="" name="shahar" class="form-control"  placeholder="{{ i.shahar|default:'Shaharingizni kiriting '}}" value="{{ i.shahar }}">
  
</div>                </div>
                
                <div class="form-group">
                    <label> Manzilingiz </label>
                    <input type="text" required="" name="manzil" class="form-control"  placeholder="{{ i.manzil|default:'Manzilingizni kiriting'}}" value="{{ i.manzil }}">
                </div>
                
                <button 
                type="submit" class="btn btn-block btn-primary"> Yuborish </button>

              
                
                <br>
               <br>
                
                <br><br>
            </div>
            
        </form>
    </div>
</section>
      

      
      
<script>
    var loadfile = function(e) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };



  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var data = e.target.result;
        var file = $(input);
        file.parent().addClass("has-file");
        file.parent().css("background-image", 'url("' + data + '")');
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>        </main>
{% else %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
</head>
<style type="text/css">
    body{
font-family: 'Ropa Sans', sans-serif;
margin-top: 30px;
background-color: #F0CA00;
background-color: #242424;
text-align: center;
color: #fff;
}
.error-heading{
margin: 50px auto;
width: 250px;
border: 5px solid #fff;
font-size: 126px;
line-height: 126px;
border-radius: 30px;
text-shadow: 6px 6px 5px #000;
}
.error-heading img{
width: 100%;
}
.error-main h1{
font-size: 72px;
margin: 0px;
color: #F3661C;
text-shadow: 0px 0px 5px #fff;
}
</style>
<body>
<div class="error-main">
<h1>Oops!</h1>
<div class="error-heading">403</div>
<p>You do not have permission to access the document or program that you requested.</p>
</div>
<br>
<br>
</body>
</html>   



                {% endif %}
                {% endfor %}

        {% endblock content %}